:root {
    --mdc-theme-primary: #ffffff;
    --mdc-theme-on-primary: #212121;
    --mdc-theme-secondary: #bebebe;
    --mdc-theme-on-secondary: #000000;
}
body {

    margin: 0;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}


.mdc-typography {
    font-family: Roboto, sans-serif;

}
.mdc-top-app-bar {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    top: 0;
}


main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 98px;
    padding: 0 10% 2% 2%;
}

main>* {
    flex: 1;
}

.menu__header-hidden, .stage__header-hidden, .header__header-hidden {
    display: none;
}


#menu #action-menu, #menu #color-menu {
    max-width: 228px;
    margin-bottom: 75px;
}

#menu .mdc-list>:last-child {
    margin-bottom: 1.5em;
}


#stage #switch-menu {
    max-width: 512px;
    width: 512px;
    margin-bottom: 75px;
}
#switch-menu label {
    cursor: pointer;
    margin-right: 15px;
}

#stage #codejam-canvas {
    border: 1px solid var(--mdc-theme-secondary);
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
}

.mdc-snackbar__label {
    color: lightsalmon;
}

.demo-icon
{
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: rgba(0, 0, 0, 0.5413);
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-size: 24px;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.menu-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin-right: 18px;
    box-sizing: border-box;
}

.menu-color-current {
    background-color: #C4C4C4;
}
.menu-color-prev {
    background-color: #41F795;
}
.menu-color-red {
    background-color: #F74141;
}
.menu-color-blue {
    background-color: #41B6F7;
}

